# this is a template, copy to .env.local with proper values for local development (do not store API Key in git)

# when possible use client id, otherwise site id + api key
NEXT_PUBLIC_WIX_CLIENT_ID=

# TODO: remove when client ID is fully supported
NEXT_PUBLIC_BOOKINGS_CHECKOUT_URL=
NEXT_PUBLIC_PAID_PLANS_CHECKOUT_URL=
